* {
    margin: 0;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.box_hover:hover {
    background-color: whitesmoke;
}

.editBox h1,
h2,
h4,
h5,
h3 {
    margin-bottom: 10px !important;
}

.editcontent::-webkit-scrollbar {
    display: none;
}