.header,
.footer {
    height: 100px;
    position: relative;

    .headerBox {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    .icon {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 5px;
        right: 5px;
        z-index: 1;
    }

    .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 1;
        top: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .icon {
            top: 5px;
            right: 5px;
            bottom: inherit;
            cursor: pointer;
        }

        p {
            margin: 5px 0;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .menuOpen {
        display: flex;
    }

    @media (min-width:768px) {
        .icon {
            display: none;
        }

        .menu {
            position: relative;
            display: flex;
            background: inherit;
            flex-direction: row;
            height: max-content;
            justify-content: end;

            p {
                width: 100px;
            }
        }
    }
}

.home {
    min-height: calc(100vh - 200px);
    max-width: 1200px;
    margin: auto;

    .cover {
        position: relative;
        width: 100%;
        height: 400px;
    }

    .newsLimit {
        display: flex;
        width: 100%;
        max-width: 768px;
        margin: 50px auto;
        background-color: whitesmoke;
        border-radius: 5px;


        .title {
            padding: 5px;
            background-color: red;
            color: white;
            border-radius: 5px;
        }

        .item {
            display: flex;
            padding: 5px;
            cursor: pointer;


            span {
                opacity: 0.75;
                font-size: 0.9rem;
                padding: 10px;
            }
        }
    }

    .news {
        width: 100%;
        max-width: 768px;
        margin: 50px auto;

        h3 {
            span {
                font-size: 0.75rem;
                opacity: 0.75;
                margin: 0 5px;
                cursor: pointer;
            }
        }

        .categorySelect {
            display: flex;

            p {
                width: max-content;
                padding: 5px;
                color: white;
                background-color: grey;
                margin: 5px 5px 5px 0;
                font-size: 0.9rem;
                border-radius: 5px;
                cursor: pointer;
            }

            p:nth-child(2) {
                background-color: darkgreen;
            }

            p:nth-child(3) {
                background-color: red;
            }

        }

        .items {
            margin: 10px 0;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0px 2px 5px #888;

            .item {
                border-bottom: 1px solid #888;
                margin: 5px 0;
                padding: 5px;

                .time {
                    opacity: 0.5;
                    font-size: 0.9rem;
                    padding: 5px;
                    font-weight: bold;

                }

                h4 {
                    cursor: pointer;
                    overflow: hidden;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                }

                h4:hover {
                    text-decoration: underline;
                }

                p {
                    font-size: 0.65rem;
                    height: max-content;
                    padding: 5px 10px;
                    margin: 0 5px;
                    background-color: whitesmoke;
                    border-radius: 25px;
                    font-weight: bold;
                }

                @media (min-width:575px) {
                    display: flex;
                }
            }


            .item:nth-last-child(1) {
                border: inherit;
            }
        }
    }
}

.archive {
    min-height: calc(100vh - 200px);
    margin: auto;
    position: relative;

    .archive_title {
        height: 75vh;
        max-height: 500px;
        overflow: hidden;
        position: relative;

        .archive_title_cover {
            display: flex;
            flex-wrap: wrap;
            width: 125%;

            .archive_title_cover_item {
                width: calc(25% - 2px);
                margin: 1px;
                height: 250px;
                position: relative;

                img {
                    opacity: 0;
                    object-fit: cover;
                    animation: ani-title-picture 4s forwards;
                }
            }
        }

        h1 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 75px;
            color: rgba($color: white, $alpha: 0.75);
            animation: ani-title-text 5s forwards;
            backdrop-filter: blur(0px) brightness(1);
        }
    }

    .news {
        width: 100%;
        max-width: 768px;
        margin: 50px auto;

        .categorySelect {
            display: flex;

            p {
                width: max-content;
                padding: 5px;
                color: white;
                background-color: grey;
                margin: 5px 5px 5px 0;
                font-size: 0.9rem;
                border-radius: 5px;
                cursor: pointer;
            }

            p:nth-child(2) {
                background-color: darkgreen;
            }

            p:nth-child(3) {
                background-color: red;
            }

        }

        .item {
            height: 75px;
            margin: 10px 0;
            box-shadow: 0px 0px 5px #888;
            border-radius: 5px;
            padding: 5px 10px;

            h4 {
                cursor: pointer;

                span {
                    opacity: 0.75;
                    font-size: 0.9rem;
                }
            }

            .category {

                p {
                    font-size: 0.9rem;
                    height: max-content;
                    border-radius: 25px;
                    color: red;
                    margin: 0 5px 0 0;
                    font-weight: bold;
                }
            }

            p {
                font-size: 0.9rem;
                color: inherit;
                opacity: 0.5;
            }
        }
    }

    .archive_body {
        max-width: 768px;
        margin: 100px auto;
    }

    .staff {
        position: relative;
        margin: 50px auto;
        padding: 5px;

        .cover {
            width: 100%;
            aspect-ratio: 1.5;
            position: relative;

            img {
                object-fit: cover;
            }
        }

        .dangerousBox {
            text-wrap: nowrap;
            height: 100px;
            line-height: 25px;
            font-family: serif;

        }

        h3 {
            color: red;
        }

        p {
            width: max-content;
            margin: 0 10px 0 auto;
            cursor: pointer;
            opacity: 0.5;
            font-family: serif;
            font-size: 0.9rem;

        }

        p:hover {
            color: darkcyan;
            opacity: 0.75;
        }
    }
}

@keyframes ani-title-picture {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    25% {
        transform: translateY(0%);
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(0%);
        transform: translateX(-75%);
        opacity: 1;
    }
}

@keyframes ani-title-text {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    80% {
        transform: translateY(100%);
        opacity: 0;
        backdrop-filter: blur(0px) brightness(1);

    }

    90% {
        transform: translateY(0%);
        opacity: 1;
        backdrop-filter: blur(0px) brightness(1);

    }

    100% {
        transform: translateY(0%);
        opacity: 1;
        backdrop-filter: blur(1px) brightness(0.5);

    }
}

.detail {
    width: 90%;
    max-width: 768px;
    margin: 50px auto;

    .cover {
        position: relative;
        aspect-ratio: 2;
        display: flex;
        flex-direction: column;
        justify-content: end;

        img {
            object-fit: cover;
            z-index: -1;
        }

        h1 {
            background-color: rgba(darkgreen, $alpha: 0.9);
            width: max-content;
            padding: 20px 50px;
            color: white;
            line-height: 0.75;
            text-align: center;

            span {
                font-size: 50%;
                opacity: 0.75;
            }
        }
    }

    p {
        opacity: 0.75;
        font-size: 0.75rem;
    }

    .dangerousBox {
        margin-top: 25px;

        div {
            margin: 5px 0;
        }

        p {
            font-size: 1rem;
        }

        figure {
            img {
                width: 100%;
            }
        }
    }

    .contact {
        width: 100%;
        padding: 5%;
        max-width: 768px;
        margin: auto;
        box-shadow: 0px 0px 10px #aaa;
        border-radius: 5px;

        .item {
            padding: 10px 0 0;
            margin: 5px 0 0;

            h4 {
                margin-bottom: 5px;
                margin-right: 5px;
            }

            input,
            .editcontent {
                width: 100%;
                height: 40px;
                border: 1px solid transparent;
                background: whitesmoke;
                border-radius: 5px;
                padding: 0 5px;
            }

            input:focus {
                outline: none;
                background: white;
                border-color: #ccc;
            }

            .editcontent {
                min-height: 200px;
                overflow: scroll;
            }

            .editcontent:focus {
                outline: none;
            }
        }

        .warn {
            color: red;
            font-size: 50%;
            font-weight: bold;
        }

        .button {
            margin: 50px auto;
            width: max-content;
        }

        @media (min-width:575px) {
            .item {
                display: flex;

                h4 {
                    width: 150px;
                    line-height: 40px
                }

                input,
                .editcontent {
                    width: calc(100% - 150px);
                }
            }



            .warn {
                width: max-content;
                margin-left: 150px
            }

            ;
        }
    }
}